Repository kaidokert/systick-timer-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt-systick-timer, fmt-testapps, clippy-systick-timer, clippy-stm32f412-nucleo, clippy-feather-m0-board, test-systick-timer

fmt-systick-timer:
  name: Format systick-timer crate
  entry: cargo fmt --manifest-path systick-timer/Cargo.toml -- --check
  language: system
  pass_filenames: false

fmt-testapps:
  name: Format testapps
  entry: cargo fmt --manifest-path testapps/stm32f412-nucleo/Cargo.toml -- --check
  language: system
  pass_filenames: false

clippy-systick-timer:
  name: Clippy systick-timer crate
  entry: cargo clippy --manifest-path systick-timer/Cargo.toml --no-default-features -- -D warnings
  language: system
  pass_filenames: false

clippy-stm32f412-nucleo:
  name: Clippy stm32f412-nucleo
  entry: cargo clippy --manifest-path testapps/stm32f412-nucleo/Cargo.toml --no-default-features --bin timer_stress --target thumbv7em-none-eabihf -- -D warnings
  language: system
  pass_filenames: false

clippy-feather-m0-board:
  name: Clippy feather-m0-board
  entry: cargo clippy --manifest-path testapps/feather-m0-board/Cargo.toml --no-default-features --bin timer_stress --target thumbv6m-none-eabi -- -D warnings
  language: system
  pass_filenames: false

test-systick-timer:
  name: Test systick-timer crate
  entry: cargo test --manifest-path systick-timer/Cargo.toml --no-default-features
  language: system
  pass_filenames: false

Fixing up stress testss
  testapps/feather-m0-board/Cargo.toml
  testapps/feather-m0-board/src/bin/timer_stress.rs
  testapps/stm32f412-nucleo/Cargo.toml
  testapps/stm32f412-nucleo/run_all_tests.py
  testapps/stm32f412-nucleo/src/bin/timer_stress.rs
Due: fmt-testapps, clippy-stm32f412-nucleo, clippy-feather-m0-board

More stress
  .gitignore
  systick-timer/src/timer.rs
  testapps/feather-m0-board/Cargo.toml
  testapps/feather-m0-board/src/bin/timer_stress.rs
  testapps/run_all_tests.py
  testapps/stm32f412-nucleo/Cargo.toml
  testapps/timer_stress/Cargo.toml
  testapps/timer_stress/src/lib.rs
Due: fmt-systick-timer, fmt-testapps, clippy-systick-timer, clippy-stm32f412-nucleo, clippy-feather-m0-board, test-systick-timer

Unify the code more
  .gitignore
  .pre-commit-config.yaml
  testapps/feather-m0-board/src/bin/timer_stress.rs
  testapps/feather-m0-board/src/lib.rs
  testapps/stm32f412-nucleo/Cargo.toml
  testapps/stm32f412-nucleo/src/bin/timer_stress.rs
  testapps/stm32f412-nucleo/src/lib.rs
  testapps/timer_stress/src/lib.rs
Due: fmt-testapps, clippy-stm32f412-nucleo, clippy-feather-m0-board

Consolidation
  testapps/feather-m0-board/src/bin/timer_stress.rs
  testapps/stm32f412-nucleo/src/bin/timer_stress.rs
  testapps/timer_stress/Cargo.toml
  testapps/timer_stress/src/lib.rs
Due: fmt-testapps, clippy-stm32f412-nucleo, clippy-feather-m0-board

More fixes
  .github/workflows/rust.yml
  .gitignore
  README.md
  systick-timer/src/timer.rs
  testapps/README.md
  testapps/feather-m0-board/LICENSE
  testapps/stm32f412-nucleo/LICENSE
  testapps/timer_stress/README.md
Due: fmt-systick-timer, clippy-systick-timer, test-systick-timer

Fixes
  .github/workflows/rust.yml
  .pre-commit-config.yaml
  README.md
  systick-timer/Cargo.toml
  systick-timer/src/lib.rs
  systick-timer/src/timer.rs
  systick-timer/src/timer/stress_test.rs
  testapps/feather-m0-board/src/bin/timer_stress.rs
  testapps/stm32f412-nucleo/run_all_tests.py
  testapps/timer_stress/Cargo.toml
  testapps/timer_stress/src/lib.rs
Due: fmt-systick-timer, fmt-testapps, clippy-systick-timer, clippy-stm32f412-nucleo, clippy-feather-m0-board, test-systick-timer

More fixes
  testapps/stm32f412-nucleo/Cargo.toml
  testapps/stm32f412-nucleo/src/bin/timer_stress.rs
  testapps/timer_stress/src/lib.rs
Due: fmt-testapps, clippy-stm32f412-nucleo, clippy-feather-m0-board

Correctness fix
  systick-timer/src/timer.rs
Due: fmt-systick-timer, clippy-systick-timer, test-systick-timer

Fix actions
  .github/workflows/rust.yml
Due: none

consistency fix
  testapps/stm32f412-nucleo/run_all_tests.py
Due: none

Tidy ups
  testapps/run_all_tests.py
  testapps/stm32f412-nucleo/run_all_tests.py
Due: none

Bump version, test cleanup
  README.md
  systick-timer/Cargo.toml
  testapps/run_all_tests.py
Due: none

Bump version, test cleanup (#13)
  README.md
  systick-timer/Cargo.toml
  testapps/run_all_tests.py
Due: none

Fix readme path
  systick-timer/Cargo.toml
Due: none

Fix readme path (#14)
  systick-timer/Cargo.toml
Due: none

Path conditions:
  fmt-systick-timer: any of: ^systick-timer/.*\.rs$
  fmt-testapps: any of: ^testapps/.*\.rs$
  clippy-systick-timer: any of: ^systick-timer/.*\.rs$
  clippy-stm32f412-nucleo: any of: ^testapps/.*\.rs$
  clippy-feather-m0-board: any of: ^testapps/.*\.rs$
  test-systick-timer: any of: ^systick-timer/.*\.rs$
